apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pwa-infra.fullname" . }}
  labels: {{- include "pwa-infra.labels" . | nindent 4 }}
  annotations: {}
spec:
  selector:
    matchLabels: {{- include "pwa-infra.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject: 'true'
        vault.hashicorp.com/agent-pre-populate-only: 'true'
        vault.hashicorp.com/auth-path: auth/k8s-silver
        vault.hashicorp.com/namespace: platform-services
        vault.hashicorp.com/role: {{ .Values.deployment.vault.role }}
        vault.hashicorp.com/agent-inject-secret-secrets.env: {{ .Values.deployment.vault.role }}/{{ .Values.deployment.vault.path }}
        vault.hashicorp.com/agent-inject-template-secrets.env: |
          {{`{{- with secret `}}"{{ .Values.deployment.vault.role }}/{{ .Values.deployment.vault.path }}"{{` }}
          {{- range $k, $v := .Data.data }}
          export {{ $k }}="{{ $v }}"
          {{- end }}
          {{- end `}} }}
      labels:
        {{- include "pwa-infra.labels" . | nindent 8 }}
    spec:
      containers:
        - resources:
            requests:
              cpu: {{ .Values.deployment.resources.requests.cpu  }}
              memory: {{ .Values.deployment.resources.requests.memory  }}
            limits:
              memory: {{ .Values.deployment.resources.limits.memory  }}
              cpu: {{ .Values.deployment.resources.limits.cpu }}
          name: {{ include "pwa-infra.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: S3__Prefix
              value: {{ .Values.s3Prefix | quote }}
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
          command:
            - sh
            - '-c'
          args:
            - . /vault/secrets/secrets.env && exec dotnet PWAApi.dll
          volumeMounts:
            - name: data
              mountPath: /app/data
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
              scheme: HTTP
              httpHeaders:
                - name: host
                  value: localhost
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
              scheme: HTTP
              httpHeaders:
                - name: host
                  value: localhost
            initialDelaySeconds: 60
            timeoutSeconds: 5
            periodSeconds: 60
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /health/ready
              port: 8080
              scheme: HTTP
              httpHeaders:
                - name: host
                  value: localhost
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 30
      imagePullSecrets: []
      serviceAccountName: {{ .Values.deployment.vault.serviceAccount }}
      volumes:
          - name: data
            persistentVolumeClaim:
              claimName: {{ .Values.pvc }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  paused: false

