html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.map-panel {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#mapContainer {
    flex-basis: 100%;
    position: relative;
    /*transition: flex-basis 0.3s ease;*/
}

#map {
    width: 100%;
    height: 100%;
}

#sensorDetails {
    flex-basis: 0%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*transition: flex-basis 0.3s ease, height 0.3s ease;*/
}

@media (min-width: 768px) {
    .map-panel.open #mapContainer {
    flex-basis: 66.6667%;
    }

    .map-panel.open #sensorDetails {
    flex-basis: 33.3333%;
    height: 100%;
    }
}

@media (max-width: 767.98px) {
    .map-panel {
    flex-direction: column;
    }

    #sensorDetails {
    height: 0;
    flex-basis: auto;
    width: 100%;
    }

    .map-panel.open #sensorDetails {
    height: 50vh;
    }

    .map-panel.open.expanded #mapContainer {
    display: none;
    }

    .map-panel.open.expanded #sensorDetails {
    height: calc(100vh - 56px) !important;
    }
}

.sensor-list {
    max-height: 50vh;
    overflow-y: auto;
}

.ol-control.ol-zoom {
    top: auto !important;
    bottom: 4rem !important;
    right: 1rem !important;
    left: auto !important;
}

.ol-control.ol-attribution {
    bottom: 1rem !important;
    right: 1rem !important;
}

#listBtn.btn-outline-primary {
    background-color: #fff;
}

#listBtn.btn-outline-primary:hover {
    background-color: var(--bs-primary);
}

#listBtn.btn-outline-primary:focus-visible {
    color: #38598a;
}
#listBtn.btn-outline-primary:focus-visible:hover {
    color: white;
}
.list-group .list-group-item-action:hover {
    color: inherit;
    text-decoration: none;
}

.list-group .list-group-item-action:focus{
    color: inherit;
    text-decoration: none;
}

.list-group .list-group-item-action.active:hover {
    color: white;
}

.list-group {
    --bs-list-group-active-bg: #547396 !important;
    --bs-list-group-active-border-color: #547396 !important;
}