apiVersion: v1
kind: Service
metadata:
  name: pwa-frontend
  labels:
    app: pwa-frontend
spec:
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: pwa-frontend
