name: Build & Deploy to DEV

env:
  OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }}
  OPENSHIFT_USERNAME: ${{ vars.OPENSHIFT_USER }}
  OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
  OPENSHIFT_NAMESPACE: "d78a41-dev"
  IMAGE_REGISTRY: ${{ vars.OPENSHIFT_REGISTRY }}
  IMAGE_TAGS: "latest"

on:
  workflow_dispatch:
  push:
    branches: [ "oc" ]

jobs:
  build-client:
    name: Build the clients image
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: Build frontend
      id: build_frontend_image
      uses: redhat-actions/buildah-build@v2
      with:
        image: pwa-frontend
        tags: latest
        labels: |
          app=pwa-frontend
        context: .
        containerfiles: |
          ./frontend/Dockerfile
    - name: Push the image to OpenShift Registry
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build_frontend_image.outputs.image }}
        tags: ${{ steps.build_frontend_image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ env.OPENSHIFT_USERNAME }}
        password: ${{ env.OPENSHIFT_TOKEN }}
      
    
  build-server:
    name: Build the backend image
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: Build .NET
      id: build_backend_image
      uses: redhat-actions/buildah-build@v2
      with:
        image: pwa-backend
        tags: latest
        labels: |
          app=pwa-backend
        context: .
        containerfiles: |
          ./backend/Dockerfile
    - name: Push the image to OpenShift Registry
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build_backend_image.outputs.image }}
        tags: ${{ steps.build_backend_image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ env.OPENSHIFT_USERNAME}}
        password: ${{ env.OPENSHIFT_TOKEN }}

  deploy-images:
    name: Deploy the latest images to the namespace
    runs-on: ubuntu-latest
    needs: [build-server, build-client]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Give openshift context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ env.OPENSHIFT_SERVER }}
        openshift_token: ${{ env.OPENSHIFT_TOKEN }}
        namespace: ${{ env.OPENSHIFT_NAMESPACE }}
    - name: Run helm script
      run: |
        helm upgrade --install pwa-dev ./pwa-infra -f ./pwa-infra/values-dev.yaml --namespace ${{ env.OPENSHIFT_NAMESPACE }}
