name: Build & Deploy to Test

env:
  OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }}
  OPENSHIFT_NAMESPACE: "d78a41-dev"
  IMAGE_REGISTRY: ${{ vars.OPENSHIFT_REGISTRY }}

on:
  workflow_dispatch:
  pull_request:

jobs:
  build-client:
    name: Build the clients image
    runs-on: ubuntu-latest
    environment: test

    steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: Build frontend
      id: build_frontend_image
      uses: redhat-actions/buildah-build@v2
      with:
        image: wa-frontend
        tags: latest-test ${{ github.sha }}
        labels: |
          app=wa-frontend
        context: .
        containerfiles: |
          ./frontend/Dockerfile
    - name: Push the image to OpenShift Registry
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build_frontend_image.outputs.image }}
        tags: ${{ steps.build_frontend_image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ vars.OPENSHIFT_USER }}
        password: ${{ secrets.OPENSHIFT_TOKEN }}
      
    
  build-server:
    name: Build the backend image
    runs-on: ubuntu-latest
    environment: test

    steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: Build .NET
      id: build_backend_image
      uses: redhat-actions/buildah-build@v2
      with:
        image: wa-backend
        tags: latest-test ${{ github.sha }}
        labels: |
          app=wa-backend
        context: .
        containerfiles: |
          ./backend/Dockerfile
    - name: Push the image to OpenShift Registry
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build_backend_image.outputs.image }}
        tags: ${{ steps.build_backend_image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ vars.OPENSHIFT_USER }}
        password: ${{ secrets.OPENSHIFT_TOKEN }}

  deploy-images:
    name: Deploy the latest images to the namespace
    runs-on: ubuntu-latest
    needs: [build-server, build-client]
    environment: test
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install OC CLI tools
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: "4"
        skip_cache: true
    - name: Give openshift context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ env.OPENSHIFT_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
        namespace: ${{ env.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: false
    - name: Run helm script
      run: |
        helm upgrade --install wa-test ./wa-infra -f ./wa-infra/values-test.yaml --set frontend.image.tag=${{ github.sha }} --set backend.image.tag=${{ github.sha }} --namespace ${{ env.OPENSHIFT_NAMESPACE }}
